mi-nav {
  display: block;
  background-color:
    var(--colorMiNav);
}

mi-nav ul {
  width: 1920px;
  height: 150px;
  display: flex;
  justify-content: right;
  align-items: right;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

mi-nav ul li {
  margin: 0.5rem;
}
