Nav {
  display: block;
  background-color: var(--colorMiNav);
  width: 1920px;
  height: 40px;
  margin: 0 auto;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

Nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

Nav ul li {
  margin: 0.5rem;
}
